@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@media only screen and (max-width: 400px)  { /*MOBILE*/
    body {
        font-size: 0.8rem;
        line-height: 1.618;
        color: #070604ea;
        margin: 0px;
        text-align: center;
        background-color:#fffdf7;
      }
    
      h1, h2, h3, h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.0rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        padding: 0;
    }

    img {
        width: 75%;
        height: 20.0rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        margin-bottom: 0.5rem;
    }

    video {
        height: 22.5rem;
        width: 15.0rem;
        margin-bottom: 0.5rem;
    }

    p {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        font-family: 'Quicksand', sans-serif;
        font-weight: 550;
    } 

    .blue {
        background-color: #def1ff;
        color: #006a91;
        padding-bottom: 0.625rem;
        margin-left: 2.0rem;
        margin-right: 2.0rem;
    }

    .blue-header {
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 0.5rem;
    } 

    .black-text {
        color: #070604ea;
    }
    
    .pink {
        background-color: #f8d4e4; 
        color: #622E55;
        margin-left: 2.0rem;
        margin-right: 2.0rem;
    }
    
    .green {
        background-color: #d5f5bb;
        color: #317001;
        padding-bottom: 0.625rem;
        margin-left: 2.0rem;
        margin-right: 2.0rem;
    }

    .container-1 {
        margin-top: 1.5rem;
    }

    .green a {
        color: #317001;
        text-decoration: none;
    }
    
    .menu-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #c45eab;
    }
    
    #menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: right;
        float: right;
        margin-right: 2.0rem;
    }
    
    ul#menu li {
       margin-left: 1rem;
       font-family: 'Arial Nova Light';
    }
    
    ul#menu li.list a {
        display: block;
        color: #ffecfc;
        text-decoration: none;
        text-align: center;
        font-family: 'Arial Nova Light';
    }
    
    #logo {
        padding: 0.5rem;
        float: left;
        width: 2.0rem;
        height: 2.0rem;
        padding-left: 2.0rem;
    }

    .newsletter {
        clear: both;
        width: 14.0rem; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
        margin-left: 3.2rem;
    }
    
    .newsletter label {
        text-align:right;
        font-size: 1.0rem;
    }
    .newsletter input {
        float: center;
        clear: both;
        width: 10.0rem;
        padding: 10px 0.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: white;
      }

    input[type] {
        margin-top: 0.5em;
        padding: 0.2em 0.5em;
        width: 9.7em;
        height: 1.9em;
        background-color: white;
        border-radius: 4px;
        border-style: hidden;
        font-size: 1em;
        color: #1f4701;
        font-family: 'Quicksand', sans-serif;
    }
    
    textarea {
        margin-top: 0.5rem;
        border-style: hidden;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.0rem;
        border-radius: 4px;
    }

    button {
        font-family: 'Quicksand', sans-serif;
        background-color: #317001;
        border-style: hidden;
        height: 2.2rem;
        width: 4.5rem;
        font-size: 1.0rem;
        color: white;
        border-radius: 4px;
        margin-top: 0.5rem;
        margin-left: 0.8rem;
    }

    #review-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2.0rem;
        margin-right: 2.0rem;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-bottom: 0;
    }

    
    .review-cards {
        height: 16.5rem;
        width: 18.0rem;
        background-color: #def1ff;
        border: #006a91 dotted;
        margin-top: 0.5rem;
        margin-bottom: 1.0rem;
    }
    
    .review-cards p {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 0.3rem;
    }
    
    .card-rating {
        font-size: 1.2rem;
    }
    
    .card-text {
        font-size: 1.2em;
        line-height: 1.6em;
        margin-left: 0rem;
        margin-right: 0rem;
      }
      
    .card-date {
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 1.2em;
    }
    
    .card-name {
        font-size: 1.2em;
    } 

    .card-location {
        color: #006a91;
        font-size: 1.3rem;
        margin-top: 1.2rem;
        margin-bottom: 0.2rem;
    }

    #reviewForm {
        border-radius: 4px;
    }

    #location {
        margin-top: 0.5em;
        padding: 0.2em 0.5em;
        width: 9.7em;
        height: 1.9em;
        background-color: white;
        border-radius: 4px;
        border-style: hidden;
        font-size: 1em;
        color: #1f4701;
        font-family: 'Quicksand', sans-serif;
    }

}

@media only screen and (min-width: 400px)  { /*DESKTOP*/
    body {
        text-align: center;
        line-height: 1.618;
        background-color:#fffdf5;
        margin: 0;
      
    }
    
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3.5rem;
        margin-bottom: 1.0rem;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5rem;
        margin-bottom: 1.0rem;
    }

    h3, h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    p {
        font-family: 'Quicksand', sans-serif;
        padding-bottom: 0.5rem;
        padding-top: 0.1rem;
        font-size: 1.3rem;
      } 
    
    img {
        width: 30.0rem;
        height: 34.0rem;
        margin-bottom: 1.0rem;
    }

    video {
        height: 34.0rem;
        width: 19.0rem;
        margin-bottom: 1.0rem;
    }

    .blue {
        background-color: #def1ff;
        color: #006a91;
        margin-right: 8.2rem;
        margin-left: 8.2rem;
    }
    
    .blue-header {
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
        font-size: 1.5rem;
    } 

    .black-text {
        color: #070604ea;
        margin-top: 0.5rem;
    }
    
    
    .pink {
        background-color: #f8d4e4;
        color: #622E55;
        margin-right: 8.2rem;
        margin-left: 8.2rem;
    }

    .pink p {
        margin: 0;
    }
    
    
    .green {
        background-color: #d5f5bb;
        color: #317001;
        margin-right: 8.2rem;
        margin-left: 8.2rem;
        margin-bottom: 2.0rem;
    }
    
    .green a {
        color: #317001;
        text-decoration: none;
    }
    
    .menu-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        background-color: #c45eab;
    }
    
    #menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: right;
        float: right;
        margin-right: 8.2rem;
    }
    
    ul#menu li {
       margin-left: 1rem;
    }
    
    ul#menu li.list a {
        display: block;
        color: #ffecfc;
        text-decoration: none;
        text-align: center;
        font-family: 'Arial Nova Light';
    }

    ul#menu li.list a:hover {
        display: block;
        font-size: 110%;
    }
    
    #logo {
        padding: 0.5rem;
        float: left;
        width: 5.5rem;
        height: 5.5rem;
        padding-left: 8.2rem;
    }

    .container-1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 2.5rem;
        margin-bottom: 1.0rem;
    }

    .container-2 {
        column-count: 2;
        column-gap: 6.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        margin-top: 1.0rem;
    }

    .container-3 {
        margin-right: 8.2rem;
        margin-left: 8.2rem;
    }

    .container-4 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .newsletter {
        clear: both;
        width: 25.0rem; 
        font-family: 'Quicksand', sans-serif;  
        margin-bottom: 1.0rem;
    }
    
    .newsletter label {
        text-align:right;
        margin-right:5px;
        font-size: 1.5rem;
    }
    .newsletter input {
        float: center;
        clear: both;
        width: 20.0rem;
        padding: 0.625rem 0.8rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: white;
        font-family: 'Quicksand', sans-serif;  
      }

    input[type] {
        margin-top: 0.5em;
        padding: 0.2em 0.5em;
        width: 9.7em;
        height: 1.9em;
        background-color: white;
        border-radius: 4px;
        border-style: hidden;
        font-size: 1em;
        color: #1f4701;
        font-family: 'Quicksand', sans-serif;
    }
    
    textarea {
        margin-top: 0.5rem;
        border-style: hidden;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.0rem;
        border-radius: 4px;
    }

    button {
        font-family: 'Quicksand', sans-serif;
        background-color: #317001;
        border-style: hidden;
        height: 2.4rem;
        width: 5.0rem;
        font-size: 1.0rem;
        color: white;
        border-radius: 4px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #review-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 8.2rem;
        margin-right: 8.2rem;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 2.0rem;
    }
    
    .review-cards {
        height: 20.0rem;
        width: 26.0rem;
        background-color: #def1ff;
        border: #006a91 dotted;
        margin-bottom: 2.0rem;
    }
    
    .review-cards p {
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'Quicksand', sans-serif;
    }
    
    .card-rating {
        font-size: 1.3em;
    }
    
    .card-text {
        font-size: 1.2em;
        line-height: 1.8em;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
      }
      
      .card-date {
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 1.2em;
      }
      
      .card-name {
        font-size: 1.2em;
      } 

      .card-location {
        color: #006a91;
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
        margin-top: 1.2rem;
      }

      #location {
        margin-top: 0.5em;
        padding: 0.2em 0.5em;
        width: 9.7em;
        height: 1.9em;
        background-color: white;
        border-radius: 4px;
        border-style: hidden;
        font-size: 1em;
        color: #1f4701;
        font-family: 'Quicksand', sans-serif;
      }
    }
